<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
</header>

<main>
  <div>
    <p>Landing!</p>
  </div>
</main>

<footer>
</footer>

</body>
</html>